# 開發環境預設使用的命令
TARGET_PROJECT_COMMAND=dev
# 開發伺服器名稱
TARGET_PROJECT_DEV_SERVER_HOSTNAME=web
# 開發伺服器連結埠
TARGET_PROJECT_DEV_SERVER_PORT=4000
# 開發伺服器容器名稱
TARGET_PROJECT_DEV_SERVER_IMAGE=react
# 元件伺服器名稱
TARGET_PROJECT_STORYBOOK_SERVER_HOSTNAME=sb
# 元件伺服器連結埠
TARGET_PROJECT_STORYBOOK_SERVER_PORT=4001
# 開發伺服器容器名稱
TARGET_PROJECT_STORYBOOK_SERVER_IMAGE=react
# 服務伺服器名稱
TARGET_PROJECT_MOCHA_SERVER_HOSTNAME=mocha
# 服務伺服器連結埠
TARGET_PROJECT_MOCHA_SERVER_PORT=4002
# 服務伺服器容器名稱
TARGET_PROJECT_MOCHA_SERVER_IMAGE=react
# 偽資料伺服器名稱
TARGET_PROJECT_DUMMY_SERVER_HOSTNAME=dummy
# 偽資料伺服器連結埠
TARGET_PROJECT_DUMMY_SERVER_PORT=4005
# 偽資料伺服器容器名稱
TARGET_PROJECT_DUMMY_SERVER_IMAGE=dummy
# 專案容器使用的虛擬網路
INFRA_DOCKER_NETWORK=react-dev-network
