# 開發環境預設使用的命令
TARGET_PROJECT_COMMAND=dev
# 開發伺服器名稱
TARGET_PROJECT_DEV_SERVER_HOSTNAME=web
# 開發伺服器連結埠
TARGET_PROJECT_DEV_SERVER_PORT=4000
# 元件伺服器名稱
TARGET_PROJECT_STORYBOOK_SERVER_HOSTNAME=sb
# 元件伺服器連結埠
TARGET_PROJECT_STORYBOOK_SERVER_PORT=4001
# 服務伺服器名稱
TARGET_PROJECT_MODEL_SERVER_HOSTNAME=svc
# 服務伺服器連結埠
TARGET_PROJECT_MODEL_SERVER_PORT=4002
# 偽資料伺服器名稱
TARGET_PROJECT_DUMMY_SERVER_HOSTNAME=dummy
# 偽資料伺服器連結埠
TARGET_PROJECT_DUMMY_SERVER_PORT=4005
# 專案容器使用的虛擬網路
INFRA_DOCKER_NETWORK=react-dev-network
